body {
    background-color: #000304;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/************** Hero Section **************/
.section1 {
    background-image:url('../img/orion-nebula.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 90%;
    height: 100vh;
}

.heading-container {
    position: relative;
    text-align: right;
    max-width: 400px;
}
/************** End of Hero Section **************/


/************** Launch Section **************/
.section2 {
    background-image:url('../img/spacex.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 90%;
    height: 100vh;
}

.heading-container {
    position: relative;
    text-align: right;
    max-width: 400px;
}
/************** End of Launch Section **************/


/************** Ribbon Section **************/
.ribbon1 {
    height: 50vh;
    background-image: linear-gradient(to top, #1a424f, #17333c, #13252a, #0d171a, #000304);
}

.ribbon1-card {
    width: 300px;
    height: 50vh;
    color: #fff;
}
/************** Ribbon Section **************/


/************** Button **************/
.btn {
    border-radius: 50px;
}

.btn1 {
    background-color: #336a88;
    color: #fff;
    text-align: center;
}

.btn1:hover {
    background-color: #342133;
    color: #fff;
}
/************** End of Button **************/